{% extends "base.html" %}  <!-- Extend base.html template -->

{% load i18n %}  <!-- Load internationalization template tags -->

{% block head_title %}{% trans "Signup" %}{% endblock %}  <!-- Define title for the page -->

{% block content %}  <!-- Define content block -->

  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Sign Up" %}</h3>  <!-- Display sign-up heading -->

        <p>{% blocktrans %}Welcome back to the code|star blog. Do you already have an account? Then please <a class="link"
            href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>  <!-- Display welcome message with sign-in link -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const firstInput = document.querySelector('.signup input:not([type=hidden])');
        if(firstInput) {
            firstInput.focus();
        }
    });
    </script>
{% endblock %}

