@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


/* Global settings for body padding and text color, enhancing overall readability and visual appeal. */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    font-variation-settings:
        "wdth"100;
}

/* Enhances the visual feedback on hover for admin links in the navigation bar. */
.nav-link.admin-link:hover {
    color: #000;
    background-color: #f8f9fa;
}

/* Defines the navigation items, making it easier to navigate a large set of links horizontally. */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Custom style for highlighting the username in the navbar, making it stand out. */
.navbar .navbar-text .username-highlight {
    color: #ff5722 !important;
}

/* Adjusts the carousel's alignment and margin, ensuring it is centered and spaced appropriately. */
.carousel {
    margin-bottom: 4rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Applies a semi-transparent background to carousel captions, improving text readability against image backgrounds. */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    background-color: rgb(61, 57, 57, 0.75);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Ensures the carousel images are responsive, filling the width of the container while maintaining aspect ratio. */
.carousel-caption p {
    color: #ffffff !important;
    font-size: x-large;
    font-weight: 500;
}

.carousel-caption h1 {
    color: #ffffff !important;
    font-size: xx-large;
    font-weight: 800;
}

/* Sets the background color for carousel items and adjusts their height */
.carousel-item {
    background-color: #712cf9;
    min-height: 20rem;
    height: auto !important;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* Centered text and margin adjustments for marketing section columns */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Paragraph styling within marketing columns */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Styling for headings within rows, including alignment and margin */
.row h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.card-main {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px !important;

}

.card-img {
    width: 500px;
    height: 500px;
    display: flex;

}

.card-img img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.card-text {
    margin-left: 70px !important;
}

.card-text a {
    text-decoration: none !important;
}

/* Divider styling between featurettes */
.featurette-divider {
    margin: 5rem 0;
}

/* Styling for featurette headings, including letter spacing and decoration */
.featurette-heading,
.featurette-heading h2,
.lead {
    letter-spacing: -.05rem;
    text-decoration: none;
    color: #ffffff;
}

/* Background, border, and shadow styling for the contact form box */
.contact-box {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Common form styles */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Specific styles for labels in both forms */
.signup label,
.contact-box label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 10px;
}

/* Specific styles for input, textarea, and select elements in both forms */
.signup input,
.signup textarea,
.signup select,
.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea,
.contact-box select {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
}

/* Adjusting the margin for the submit button in the contact form to match the signup form */
.contact-box form button,
.signup form button {
    margin-top: 15px;
}

/* Styling for the success container, used for displaying success messages */
.container-success {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* padding for comment section on blog */
.bottom-padding {
    margin-bottom: 50px;
}

/* Style t over-ride bootstrap scss files  */
.container .row .col-md-8 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

/* Style for paragraphs on login form */
form.login p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Style for labels on login form */
form.login label {
    width: 30%;
    min-width: 70px;
    margin-right: 10px;
}

/* Style for inputs on login form */
form.login input[type="text"],
form.login input[type="email"],
form.login input[type="password"] {
    width: 70%;
    flex-grow: 1;
}

/* Style for buttons on login form */
form.login button.btn-signup {
    margin-top: 10px;
}

/* Style for buttons */
.btn-signup {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

/* Style for buttons */
.btn-signup:hover {
    background-color: black;
    color: white;
}

/* Style error page */
.error-box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid red;
    background-color: #ffcccc;
    width: 80%;
    border-radius: 5px;
}

/* Fixed positioning for the footer, ensuring it stays at the bottom */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Media query adjustments ensure the site's layout and typography are optimized for tablet screens. */
@media (max-width: 1024px) {

    /* Adjusts font size and weight of carousel captions for medium-sized devices like tablets. */
    .carousel-caption h1,
    .carousel-caption p {
        font-size: medium;
        font-weight: 300;
    }

    /* Resizes card images and adjusts the text margin for a balanced layout on tablet screens. */
    .card-img {
        width: 400px;
        height: 400px;
    }

    .card-text {
        margin-left: 50px !important;
    }

    .footer {
        font-size: small;
    }
}

/* Further media query adjustments cater to mobile screens, ensuring usability and visual appeal on smaller devices. */
@media (max-width: 768px) {

    /* Hides carousel captions and adjusts the image height to maintain a compact and focused presentation on mobile. */
    .carousel-caption {
        display: none;
        box-shadow: none;
        background-color: none;
    }

    .carousel-item img {
        height: 400px;
    }

    /* Adjusts layout of card elements to a columnar structure for better readability on narrow screens. */
    .card-main {
        flex-direction: column;
        margin-bottom: 50px !important;
    }

    .card-img,
    .card-text {
        width: 250px !important;
        height: 250px !important;
        margin-left: 20px !important;
        margin-top: 20px;
    }

    .footer {
        font-size: smaller;
    }
}

/* Specific adjustments for the carousel height on very small screens, ensuring the carousel remains visually accessible. */
@media (max-width: 500px) {
    #myCarousel {
        height: 200px;
        /* Adjusts the carousel height to a fixed value for screen widths of 500px or less. */
    }

    #myCarousel .carousel-item img {
        height: 100%;
        /* Ensures the image fills the adjusted carousel height, with object-fit cover for aspect ratio. */
    }

    .footer {
        font-size: x-small;
    }
}

/* Specific adjustments for the carousel height on very small screens, ensuring the carousel remains visually accessible. */
@media (max-width: 300px) {
    #myCarousel {
        height: 185px;
        overflow: hidden;
    }

    #myCarousel .carousel-item img {
        height: 100%;
        object-fit: cover;
        width: auto;
    }

    #myCarousel .carousel-caption {
        font-size: small;
        padding: 5px;
    }

    .footer {
        font-size: x-small;
    }
}