/* Global padding adjustments and text color settings */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}

.nav-link.admin-link:hover {
    color: #000;
    background-color: #f8f9fa;
}

/* Styling for a horizontal navigation scroller */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

/* Ensures the nav items are displayed inline and can be scrolled horizontally */
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Highlight styling for the username displayed in the navbar */
.navbar .navbar-text .username-highlight {
    color: #ff5722 !important;
}

/* Carousel margin adjustments and alignment */
.carousel {
    margin-bottom: 4rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Carousel caption styling including position and color */
.carousel-caption {

    bottom: 3rem;
    z-index: 10;
    background-color: rgb(61, 57, 57, 0.75);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Ensures captions and headings within the carousel use the correct text color */
.carousel-caption p {
    color: #ffffff !important;
    font-size: x-large;
    font-weight: 500;
}

.carousel-caption h1 {
    color: #ffffff !important;
    font-size: xx-large;
    font-weight: 800;
}

/* Sets the background color for carousel items and adjusts their height */
.carousel-item {
    background-color: #712cf9;
    min-height: 20rem;
    height: auto !important;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* Centered text and margin adjustments for marketing section columns */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Paragraph styling within marketing columns */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Styling for headings within rows, including alignment and margin */
.row h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.card-main {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px !important;

}

.card-img {
    width: 500px;
    height: 500px;
    display: flex;

}

.card-img img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.card-text {
    margin-left: 70px !important;
}

.card-text a {
    text-decoration: none !important;
}

/* Divider styling between featurettes */
.featurette-divider {
    margin: 5rem 0;
}

/* Styling for featurette headings, including letter spacing and decoration */
.featurette-heading,
.featurette-heading h2,
.lead {
    letter-spacing: -.05rem;
    text-decoration: none;
    color: #ffffff;
}

/* Background, border, and shadow styling for the contact form box */
.contact-box {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Common form styles */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Specific styles for labels in both forms */
.signup label,
.contact-box label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 10px;
}

/* Specific styles for input, textarea, and select elements in both forms */
.signup input,
.signup textarea,
.signup select,
.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea,
.contact-box select {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
}

/* Adjusting the margin for the submit button in the contact form to match the signup form */
.contact-box form button,
.signup form button {
    margin-top: 15px;
}


/* Styling for the success container, used for displaying success messages */
.container-success {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-padding {
    margin-bottom: 50px;
}

.container .row .col-md-8 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

form.login p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form.login label {
    width: 30%;
    min-width: 70px;
    margin-right: 10px;
}

form.login input[type="text"],
form.login input[type="email"],
form.login input[type="password"] {
    width: 70%;
    flex-grow: 1;
}

form.login button.btn-signup {
    margin-top: 10px;
}

.btn-signup {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.btn-signup:hover {
    background-color: black;
    color: white;
}

.error-box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid red;
    background-color: #ffcccc;
    width: 80%;
    border-radius: 5px;
}

/* Fixed positioning for the footer, ensuring it stays at the bottom */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Media queries for responsive adjustments to carousel captions and featurette headings */
@media (max-width: 1024px) {

    .carousel-caption h1 {
        font-size: medium;
        font-weight: 300;
    }

    .carousel-caption p {
        font-size: medium;
        font-weight: 100;
        margin-bottom: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        margin-top: 7rem;
    }

    .card-img {
        width: 400px;
        height: 400px;
    }

    .card-text {
        margin-left: 50px !important;
    }

    .footer {
        font-size: medium;
    }
}

@media (max-width: 768px) {

    .carousel-caption {
        display: none;
        box-shadow: none;
        background-color: none;
    }

    .carousel-item img {
        height: 400px
    }

    .card-main {
        flex-direction: column;
        margin-bottom: 50px !important;
    }

    .card-img {
        width: 250px !important;
        height: 250px !important;
    }

    .card-text {
        margin-left: 20px !important;
        margin-top: 20px;
    }

    .footer {
        font-size: small;
    }
}

@media (max-width: 500px) {
    #myCarousel {
        height: 200px;
        overflow: hidden;
    }

    #myCarousel .carousel-item img {
        height: 100%;
        object-fit: cover;
        width: auto;
    }

    #myCarousel .carousel-caption {
        font-size: small;
        padding: 5px;
    }

    .footer {
        font-size: smaller;
    }
}


@media (max-width: 300px) {
    #myCarousel {
        height: 185px;
        overflow: hidden;
    }

    #myCarousel .carousel-item img {
        height: 100%;
        object-fit: cover;
        width: auto;
    }

    #myCarousel .carousel-caption {
        font-size: small;
        padding: 5px;
    }

    .footer {
        font-size: x-small;
    }
}