{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 contact-box">
            <h2>{% trans "Contact Us" %}</h2>
            <p>If you wish to contact us about advertising on our website, 
                <br >
                or if you simple want to reach out to us,
                <br >
                please use the contact form below.</p>
                
            <form method="post" class="contact-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-signup">{% trans "Send" %}</button>
            </form>
            <!-- Display messages -->
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
