<!-- Inherits from the base template to maintain a consistent layout across the site -->
{% extends "base.html" %}  
<!-- Content block where the specific page content will be inserted -->
{% block content %}  
<!-- Carousel section -->
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <!-- Indicators for each carousel slide -->
            <div class="carousel-indicators">
                {% for hero in hero_images %}
                <!-- Active indicator for the first slide and updates dynamically for each hero image -->
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %}
                        aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <!-- Loop through hero images -->
                {% for hero in hero_images %}
                    <!-- Sets the first slide as active and displays hero images -->
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ hero.image.url }}" class="d-block w-100" alt="{{ hero.title }}" style="height: auto; max-height: 50rem;">
                        <!-- Carousel caption with conditional positioning -->
                        <div class="container">
                            <div class="carousel-caption {% if forloop.first %}text-start{% elif forloop.last %}text-end{% else %}text-center{% endif %}">
                                <h1>{{ hero.title }}</h1>
                                <p class="opacity-75">{{ hero.caption }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Carousel controls (previous and next) -->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" aria-label="Previous">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>            
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" aria-label="Next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- section for writer profiles -->
        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <h1>Meet the writers</h1>
                <div class="col-lg-4">
                    <img src="https://res.cloudinary.com/dtyqoklv7/image/upload/v1708430885/older-man-wearing-leather-jacket-260nw-1954449958_f1j6gh.webp" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder">
                    </img>
                    <h2 class="fw-normal">Peter Dooley</h2>
                    <p>Peter Dooley, a seasoned metal music writer, has carved a niche for himself with his deep dives into the heavy metal genre, unearthing the stories behind the loudest riffs and darkest lyrics. With a career spanning over two decades, Peter has contributed to numerous esteemed music publications, offering insightful reviews, engaging artist interviews, and thought-provoking features.</p>
                    
                </div>
                <div class="col-lg-4">
                    <img src="https://res.cloudinary.com/dtyqoklv7/image/upload/v1708427516/rock-3079352_bl7hb1.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder">
                    </img>
                    <h2 class="fw-normal">Frank Frampton</h2>
                    <p>Frank Frampton stands as a distinguished voice in the realm of blues music journalism, with a rich history of exploring the soulful depths and vibrant narratives that define the genre. Over his career, which spans more than twenty years, Frank has penned compelling articles for a variety of prestigious music magazines, specializing in heartfelt interviews, insightful album reviews, and articles that capture the essence of the blues.</p>
                    
                </div>
                <div class="col-lg-4">
                    <img src="https://res.cloudinary.com/dtyqoklv7/image/upload/v1708431067/202311429-portrait-of-a-punk-girl-in-a-leather-jacket-with-pink-hair_o5yrph.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    </img>
                    <h2 class="fw-normal">Roman Attaman</h2>
                    <p>
                        Roman Attaman, a versatile and dynamic music journalist, has made a name for herself by delving into the eclectic and cutting-edge corners of the music world, from synthwave and rock to punk and breakcore. Her adventurous spirit and keen ear for groundbreaking sounds have led her to uncover and champion the underground scenes and emerging trends that define contemporary music. </p>
                    
                </div>
            </div>
            <!-- Featurettes section for posts -->
            {% for post in post_list %}
            <!-- Divider for each featurette -->
            <hr class="featurette-divider">
            <div class="card-main">
                <div class="card-img">
                    <img src=" {{ post.featured_image.url }}" class="featurette-image img-fluid mx-auto" width="500"
                        height="500" aria-label="Placeholder: 500x500">
                </div>
                <div class = "card-text">
                    <p class="lead">Author: {{ post.author }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                        <h2 class="featurette-heading">{{ post.title }}</h2>
                        <p class="lead">{{ post.excerpt }}</p>
                        <p class="lead">{{ post.created_on}} <i class="far fa-thumbs-up"></i> {{ post.number_of_likes }}
                        </p>
                </div>
            </div>
    {% if forloop.counter|divisibleby:3 %}
    {% endif %}
    {% endfor %}
        </div>
        <!-- Pagination section -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous page">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next page"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        
        {% endif %}
        {%endblock%}
    </div>
