<!-- Inherits from the base template to maintain a consistent layout across the site -->
{% extends 'base.html' %} 
<!-- Content block where the specific page content will be inserted -->
{% block content %}
<!-- adding crispy forms -->
{% load crispy_forms_tags %}

    <!-- Masthead section displaying the post title, author, and featured image -->
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text">
                    <!-- Display the post title -->
                    <h1 class="post-title">{{ post.title }}</h1>
                    <!-- Display the post author and creation date -->
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <!-- Adding the featured image -->
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" width="100%">
                </div>
            </div>
        </div>
    </div>
    <!-- Main content section displaying the post content and comments -->
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <!-- Display the post content, using the | safe filter to render HTML correctly -->
                    <p class="card-text ">
                        {{ post.content | safe }}
                    </p>
                    <div class="row">
                    <!-- Like button -->
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    <!-- Change the button appearance based on whether the post is liked by the user -->
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="fa fa-thumbs-up" aria-label="Like"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="far fa-thumbs-up" aria-label="Like"></i></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <!-- Display a static thumbs-up icon for unauthenticated users -->
                                <span class="text-secondary"><i class="fa-solid fa-thumbs-up"></i></span>
                                {% endif %}
                                <!-- Display the number of likes -->
                                <span class="text-secondary">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        <div class="col-1">
                            <!-- Comment count -->
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    <!-- Section for displaying existing comments and adding new ones -->
    <div class="row bottom-padding">
        <!-- Column for comments -->
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Loop through each comment and display it -->
                {% for comment in comments %}
                
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author.username }}
                        <span class="text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <!-- Enhanced delete button with a confirmation dialog -->
                    {% if user.is_authenticated and user == comment.author %}
                        <form action="{% url 'comment_delete' comment.id %}" method="post" style="display: inline;" onsubmit="return confirmDelete()">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a href="javascript:void(0);" onclick="populateEditForm('{{ comment.id }}', '{{ comment.body|escapejs }}')" class="btn btn-primary btn-sm">Edit</a>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Column for adding a new comment -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <!-- Display success message if comment was posted -->
                <!-- Display a message informing the user that their comment needs approval -->
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <!-- Comment form for authenticated users -->
                {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" id="comment_id" value="">
                        {{ comment_form | crispy }}                  
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- JavaScript for confirmation of deleting/editing comments -->
    <script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this comment?');
    }
    function populateEditForm(commentId, commentBody) {
        document.getElementById('comment_id').value = commentId;
        
        let bodyField = document.querySelector('textarea[name="body"]');
        if (bodyField) {
            bodyField.value = commentBody;
        }
        
        bodyField.focus();
        
        document.getElementById('comment_form').scrollIntoView();
    }
    </script>
{% endblock content %}
